In [1]:
# Lecture: Tabular Data and Pandas

In [2]:
#Panda package is great for working with Tabular Data

In [3]:
"""Tabular data: data in tables

-tends to hae columns with observation

What data struc to rep tabular data?
"""

'Tabular data: data in tables\n\n-tends to hae columns with observation\n\nWhat data struc to rep tabular data?\n'

In [4]:
"""List of tuples or lists"""

'List of tuples or lists'

In [5]:
data = {
    
    (1,2,"wilson",4),
    (5,6,"jimmy",7)
    
    #can't access column data directly, col data is unlabeled but easy to access rows of data
    # acccess row by data[2]
}

In [6]:
#NumPy is a python pack that provides

import numpy as np
data = np.array([
        (5220,8340,"Female", 70,468,12,127),
        (5040,12420,"Male",96,329,15,14),
        (6300,12060,"Male", 82, 357,15,72)
    ])

#data[2] still returns row 3, but can also access col 3 using data[:,2] 
#can pass in a slice like 1:4 or a boolean arr that indicates rows you want; 1:4 gives col 2-4?

data[:,2:4]

array([['Female', '70'],
       ['Male', '96'],
       ['Male', '82']],
      dtype='<U21')

In [7]:
#Trues rep col u want to keep
#dont mix nparray with array?

data[:, np.array([True,False,True,True,False,False,False])]

array([['5220', 'Female', '70'],
       ['5040', 'Male', '96'],
       ['6300', 'Male', '82']],
      dtype='<U21')

In [8]:
#get 1977 salary for third employee

data[2,1]

'12060'

In [9]:
#get a data set with only the male employees
data[:, 2] == "Male"

array([False,  True,  True], dtype=bool)

In [10]:
data[data[:,2]=="Male", :]

array([['5040', '12420', 'Male', '96', '329', '15', '14'],
       ['6300', '12060', 'Male', '82', '357', '15', '72']],
      dtype='<U21')

In [11]:
#Problem way Numpy stored this arr: No labels, '12060' was a String type.
# Numpy will try to store entries of all the same type.
#If everything is a num, it will read everyhting as nums, but if something it doesn't recorgnize
#it read auto store by Strings

#Numpy Arrays > list of lists ; but can't really store things of diff types

#Can you modify data frame to store entries as floats?

In [12]:
# Variable Type != data types like int, float, etc

#-Categorical: possible val of var are categories
#-Quantitative: pos values of var are numbers

In [13]:
#Numpy provides Structured Arrays to handle diff data types

data = np.array([
        (5220,8340,"Female", 70,468,12,127),
        (5040,12420,"Male",96,329,15,14),
        (6300,12060,"Male", 82, 357,15,72)
    ], dtype = {
        "names": ("Bsal",'Sal77','Sex', 'Senior', 'age,','educ,','exper'),
        "formats": ('i4','i4','S8','i4','i4','S2','f8')
    })

# "4" stands for 4 bytes

In [14]:
data['Sal77']

array([ 8340, 12420, 12060], dtype=int32)

In [15]:
#Vectorized Computations:

#Computations in Numpy are vectorized..

#example:

a=[1,2,5]
b=[2,4,6]

#we want to add them together, eltwise. How would u do this?

c = [a[0]+b[0],a[1]+b[1],a[2]+b[2]]

In [16]:
print(c)

[3, 6, 11]

In [17]:
#Better way, use zip():

list(zip(a,b))

[(1, 2), (2, 4), (5, 6)]

In [19]:
[i+j for i,j in zip(a,b)]

[3, 6, 11]

In [20]:
a = np.array([1,2,5])
b = np.array([2,4,6])
a+b

array([ 3,  6, 11])

In [21]:
#a+b works if a and b are Numpy arrays

In [22]:
#Np Arrays are more efficient

In [23]:
#Try it: for data, write code that computes for ea employee how much his/her salary
# increased from when he/she started

data['Sal77'] - data["Bsal"]

array([3120, 7380, 5760], dtype=int32)

In [24]:
#Another example: How would u sq every elt in a = [1,2,5]:

a = np.array([1,2,5])
a ** 2

array([ 1,  4, 25])

In [25]:
#Try: Salaries are often right-skewed...we often log transform  salaries.

np.log(data['Sal77'])

array([ 9.0288185 ,  9.42706336,  9.39764947])

In [26]:
# Use vectorized computations wherever possible. They are not only pretier, but also faster!
#TAKE NOTE

In [28]:
hist(data['Sal77']) #no histogram??

In [29]:
# With Numpy's Structured Arrays, we cannot:

#allow us to set row indexes
#infer types automatically
#difficult to add new cols to data

#Numpy struc array are still quite inefficient

In [31]:
#--------------------------------------------------------------------------------

In [32]:
#THIS IS WHERE PANDAS COME IN HANDY

In [33]:
#PANDAS: STands for "Panel Data" or "Python data analysis"

#Provides a DataFrame struc that allows BOTH rows and cols to be indexed
#Also provides functions that reads data from a file and infers the type of ea column intelligently

In [34]:
#To read data into a pandas data frame

import pandas as pd
data = pd.read_csv("/data/harris.csv")
print(data)

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper
0   5220   8340  Female      70  468    12  127.0
1   5040  12420    Male      96  329    15   14.0
2   6300  12060    Male      82  357    15   72.0
3   6000  15120    Male      67  315    15   35.5
4   6000  16320    Male      97  354    12   24.0
5   6000  12300    Male      66  351    12   56.0
6   6840  10380    Male      92  374    15   41.5
7   8100  13980    Male      66  369    16   54.5
8   6000  10140    Male      82  363    12   32.0
9   6000  12360    Male      88  555    12  252.0
10  6900  10920    Male      75  416    15  132.0
11  6900  10920    Male      89  481    12  175.0
12  5400  12660    Male      91  331    15   17.5
13  6000  12960    Male      66  355    15   64.0
14  6000  12360    Male      86  348    15   25.0
15  5100   8940  Female      95  640    15  165.0
16  4800   8580  Female      98  774    12  381.0
17  5280   8760  Female      98  557     8  190.0
18  5280   8040  Female      88  745     8   90.0
19  4800   9000  Female      77  505    12   63.0
20  4800   8820  Female      76  482    12    6.0
21  5400  13320  Female      86  329    15   24.0
22  5520   9600  Female      82  558    12   97.0
23  5400   8940  Female      88  338    12   26.0
24  5700   9000  Female      76  667    12   90.0
25  3900   8760  Female      98  327    12    0.0
26  4800   9780  Female      75  619    12  144.0
27  6120   9360  Female      78  624    12  208.5
28  5220   7860  Female      70  671     8  102.0
29  5100   9660  Female      66  554     8   96.0
..   ...    ...     ...     ...  ...   ...    ...
63  5100   8700    Male      97  637    12  315.0
64  6600  12240    Male      83  536    15  215.5
65  5700  11220    Male      94  392    15   36.0
66  6000  12180    Male      91  364    12   49.0
67  6000  11580    Male      83  521    15  108.0
68  6000   8940    Male      80  686    12  272.0
69  6000  10680    Male      87  364    15   56.0
70  4620  11100    Male      77  293    12   11.5
71  5220  10080    Male      85  344    12   29.0
72  6600  15360    Male      83  340    15   64.0
73  5400  12600    Male      78  305    12    7.0
74  6000   8940    Male      78  659     8  320.0
75  5400   9480    Male      88  690    15  359.0
76  6000  14400    Male      96  402    16   45.5
77  5700  10620  Female      88  410    15   61.0
78  5400  10320  Female      78  584    15   51.0
79  4440   9600  Female      97  341    15   75.0
80  6300  10860  Female      84  662    15  231.0
81  6000   9720  Female      69  488    12  121.0
82  5100   9600  Female      85  406    12   59.0
83  4800  11100  Female      87  349    12   11.0
84  5100  10020  Female      87  508    16  123.0
85  5700   9780  Female      74  542    12  116.5
86  5400  10440  Female      72  604    12  169.0
87  5100  10560  Female      84  458    12   36.0
88  4800   9240  Female      84  571    16  214.0
89  6000  11940  Female      86  486    15   78.5
90  4380  10020  Female      93  313     8    7.5
91  5580   7860  Female      69  600    12  132.5
92  4620   9420  Female      96  385    12   52.0

[93 rows x 7 columns]

In [35]:
data.head()

   Bsal  Sal77     Sex  Senior  Age  Educ  Exper
0  5220   8340  Female      70  468    12  127.0
1  5040  12420    Male      96  329    15   14.0
2  6300  12060    Male      82  357    15   72.0
3  6000  15120    Male      67  315    15   35.5
4  6000  16320    Male      97  354    12   24.0

In [36]:
data.tail()

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper
88  4800   9240  Female      84  571    16  214.0
89  6000  11940  Female      86  486    15   78.5
90  4380  10020  Female      93  313     8    7.5
91  5580   7860  Female      69  600    12  132.5
92  4620   9420  Female      96  385    12   52.0

In [37]:
#head() prints first couple of rows and tail() prints last couple of rows

In [38]:
data.describe()

              Bsal         Sal77     Senior         Age       Educ       Exper
count    93.000000     93.000000  93.000000   93.000000  93.000000   93.000000
mean   5420.322581  10392.903226  82.279570  474.397849  12.505376  100.927419
std     709.587222   1789.640831  10.254761  140.210489   2.282369   90.946985
min    3900.000000   7860.000000  65.000000  280.000000   8.000000    0.000000
25%    4980.000000   9000.000000  74.000000  349.000000  12.000000   35.500000
50%    5400.000000  10020.000000  84.000000  468.000000  12.000000   70.000000
75%    6000.000000  11220.000000  90.000000  590.000000  15.000000  144.000000
max    8100.000000  16320.000000  98.000000  774.000000  16.000000  381.000000

In [39]:
#Missing a var[Sex] because it was CATEGORICAL. describe() only process quantitative vars

In [40]:
data['Age']

0     468
1     329
2     357
3     315
4     354
5     351
6     374
7     369
8     363
9     555
10    416
11    481
12    331
13    355
14    348
15    640
16    774
17    557
18    745
19    505
20    482
21    329
22    558
23    338
24    667
25    327
26    619
27    624
28    671
29    554
     ...
63    637
64    536
65    392
66    364
67    521
68    686
69    364
70    293
71    344
72    340
73    305
74    659
75    690
76    402
77    410
78    584
79    341
80    662
81    488
82    406
83    349
84    508
85    542
86    604
87    458
88    571
89    486
90    313
91    600
92    385
Name: Age, dtype: int64

In [41]:
#data structure of 'age': Series

type(data['Age'])

pandas.core.series.Series

In [43]:
#a series is a numpy array with row indices and row entries of of same type (64-bit int)

In [44]:
data[['Sex',"Age"]]

       Sex  Age
0   Female  468
1     Male  329
2     Male  357
3     Male  315
4     Male  354
5     Male  351
6     Male  374
7     Male  369
8     Male  363
9     Male  555
10    Male  416
11    Male  481
12    Male  331
13    Male  355
14    Male  348
15  Female  640
16  Female  774
17  Female  557
18  Female  745
19  Female  505
20  Female  482
21  Female  329
22  Female  558
23  Female  338
24  Female  667
25  Female  327
26  Female  619
27  Female  624
28  Female  671
29  Female  554
..     ...  ...
63    Male  637
64    Male  536
65    Male  392
66    Male  364
67    Male  521
68    Male  686
69    Male  364
70    Male  293
71    Male  344
72    Male  340
73    Male  305
74    Male  659
75    Male  690
76    Male  402
77  Female  410
78  Female  584
79  Female  341
80  Female  662
81  Female  488
82  Female  406
83  Female  349
84  Female  508
85  Female  542
86  Female  604
87  Female  458
88  Female  571
89  Female  486
90  Female  313
91  Female  600
92  Female  385

[93 rows x 2 columns]

In [45]:
#above is a data frame

type(data[['Sex',"Age"]])

pandas.core.frame.DataFrame

In [46]:
#Suppose u wanted a DataFrame with only one col, Age...

#pass in a list of keys and get all those cols and return a dataframe
#if u don't put key in list, it returns a series

data[ ["Age"] ]

    Age
0   468
1   329
2   357
3   315
4   354
5   351
6   374
7   369
8   363
9   555
10  416
11  481
12  331
13  355
14  348
15  640
16  774
17  557
18  745
19  505
20  482
21  329
22  558
23  338
24  667
25  327
26  619
27  624
28  671
29  554
..  ...
63  637
64  536
65  392
66  364
67  521
68  686
69  364
70  293
71  344
72  340
73  305
74  659
75  690
76  402
77  410
78  584
79  341
80  662
81  488
82  406
83  349
84  508
85  542
86  604
87  458
88  571
89  486
90  313
91  600
92  385

[93 rows x 1 columns]

In [47]:
type( data[ ["Age"] ] )

pandas.core.frame.DataFrame

In [48]:
data['Age'].describe() #calls method on a series

count     93.000000
mean     474.397849
std      140.210489
min      280.000000
25%      349.000000
50%      468.000000
75%      590.000000
max      774.000000
Name: Age, dtype: float64

In [49]:
data['Sex'].describe()

count         93
unique         2
top       Female
freq          61
Name: Sex, dtype: object

In [50]:
#notice calling describe on a cateorical var like 'sex', it will tell u how many 
#unique entries, most freq vars and name of it

In [51]:
#can also access cols using attribute notation instead of dict notation
data.Age

0     468
1     329
2     357
3     315
4     354
5     351
6     374
7     369
8     363
9     555
10    416
11    481
12    331
13    355
14    348
15    640
16    774
17    557
18    745
19    505
20    482
21    329
22    558
23    338
24    667
25    327
26    619
27    624
28    671
29    554
     ...
63    637
64    536
65    392
66    364
67    521
68    686
69    364
70    293
71    344
72    340
73    305
74    659
75    690
76    402
77    410
78    584
79    341
80    662
81    488
82    406
83    349
84    508
85    542
86    604
87    458
88    571
89    486
90    313
91    600
92    385
Name: Age, dtype: int64

In [52]:
#Like nupy arrs, pandas series [objects?] support vectorized computations

#To create new cols in pandas dataframe, it's easy compared to numpy arrs..

data['AgeInYears'] = data['Age']/12

In [53]:
data

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper  AgeInYears
0   5220   8340  Female      70  468    12  127.0   39.000000
1   5040  12420    Male      96  329    15   14.0   27.416667
2   6300  12060    Male      82  357    15   72.0   29.750000
3   6000  15120    Male      67  315    15   35.5   26.250000
4   6000  16320    Male      97  354    12   24.0   29.500000
5   6000  12300    Male      66  351    12   56.0   29.250000
6   6840  10380    Male      92  374    15   41.5   31.166667
7   8100  13980    Male      66  369    16   54.5   30.750000
8   6000  10140    Male      82  363    12   32.0   30.250000
9   6000  12360    Male      88  555    12  252.0   46.250000
10  6900  10920    Male      75  416    15  132.0   34.666667
11  6900  10920    Male      89  481    12  175.0   40.083333
12  5400  12660    Male      91  331    15   17.5   27.583333
13  6000  12960    Male      66  355    15   64.0   29.583333
14  6000  12360    Male      86  348    15   25.0   29.000000
15  5100   8940  Female      95  640    15  165.0   53.333333
16  4800   8580  Female      98  774    12  381.0   64.500000
17  5280   8760  Female      98  557     8  190.0   46.416667
18  5280   8040  Female      88  745     8   90.0   62.083333
19  4800   9000  Female      77  505    12   63.0   42.083333
20  4800   8820  Female      76  482    12    6.0   40.166667
21  5400  13320  Female      86  329    15   24.0   27.416667
22  5520   9600  Female      82  558    12   97.0   46.500000
23  5400   8940  Female      88  338    12   26.0   28.166667
24  5700   9000  Female      76  667    12   90.0   55.583333
25  3900   8760  Female      98  327    12    0.0   27.250000
26  4800   9780  Female      75  619    12  144.0   51.583333
27  6120   9360  Female      78  624    12  208.5   52.000000
28  5220   7860  Female      70  671     8  102.0   55.916667
29  5100   9660  Female      66  554     8   96.0   46.166667
..   ...    ...     ...     ...  ...   ...    ...         ...
63  5100   8700    Male      97  637    12  315.0   53.083333
64  6600  12240    Male      83  536    15  215.5   44.666667
65  5700  11220    Male      94  392    15   36.0   32.666667
66  6000  12180    Male      91  364    12   49.0   30.333333
67  6000  11580    Male      83  521    15  108.0   43.416667
68  6000   8940    Male      80  686    12  272.0   57.166667
69  6000  10680    Male      87  364    15   56.0   30.333333
70  4620  11100    Male      77  293    12   11.5   24.416667
71  5220  10080    Male      85  344    12   29.0   28.666667
72  6600  15360    Male      83  340    15   64.0   28.333333
73  5400  12600    Male      78  305    12    7.0   25.416667
74  6000   8940    Male      78  659     8  320.0   54.916667
75  5400   9480    Male      88  690    15  359.0   57.500000
76  6000  14400    Male      96  402    16   45.5   33.500000
77  5700  10620  Female      88  410    15   61.0   34.166667
78  5400  10320  Female      78  584    15   51.0   48.666667
79  4440   9600  Female      97  341    15   75.0   28.416667
80  6300  10860  Female      84  662    15  231.0   55.166667
81  6000   9720  Female      69  488    12  121.0   40.666667
82  5100   9600  Female      85  406    12   59.0   33.833333
83  4800  11100  Female      87  349    12   11.0   29.083333
84  5100  10020  Female      87  508    16  123.0   42.333333
85  5700   9780  Female      74  542    12  116.5   45.166667
86  5400  10440  Female      72  604    12  169.0   50.333333
87  5100  10560  Female      84  458    12   36.0   38.166667
88  4800   9240  Female      84  571    16  214.0   47.583333
89  6000  11940  Female      86  486    15   78.5   40.500000
90  4380  10020  Female      93  313     8    7.5   26.083333
91  5580   7860  Female      69  600    12  132.5   50.000000
92  4620   9420  Female      96  385    12   52.0   32.083333

[93 rows x 8 columns]

In [54]:
#data.[press tab to see avail methods]

In [55]:
#TRY: Create a new col, SalaryInrease that shows how much ea employee's salary increased between
#when he/she started and 1977

data['SalaryInrease'] = data['Sal77']-data['Bsal']

In [56]:
data

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper  AgeInYears  SalaryInrease
0   5220   8340  Female      70  468    12  127.0   39.000000           3120
1   5040  12420    Male      96  329    15   14.0   27.416667           7380
2   6300  12060    Male      82  357    15   72.0   29.750000           5760
3   6000  15120    Male      67  315    15   35.5   26.250000           9120
4   6000  16320    Male      97  354    12   24.0   29.500000          10320
5   6000  12300    Male      66  351    12   56.0   29.250000           6300
6   6840  10380    Male      92  374    15   41.5   31.166667           3540
7   8100  13980    Male      66  369    16   54.5   30.750000           5880
8   6000  10140    Male      82  363    12   32.0   30.250000           4140
9   6000  12360    Male      88  555    12  252.0   46.250000           6360
10  6900  10920    Male      75  416    15  132.0   34.666667           4020
11  6900  10920    Male      89  481    12  175.0   40.083333           4020
12  5400  12660    Male      91  331    15   17.5   27.583333           7260
13  6000  12960    Male      66  355    15   64.0   29.583333           6960
14  6000  12360    Male      86  348    15   25.0   29.000000           6360
15  5100   8940  Female      95  640    15  165.0   53.333333           3840
16  4800   8580  Female      98  774    12  381.0   64.500000           3780
17  5280   8760  Female      98  557     8  190.0   46.416667           3480
18  5280   8040  Female      88  745     8   90.0   62.083333           2760
19  4800   9000  Female      77  505    12   63.0   42.083333           4200
20  4800   8820  Female      76  482    12    6.0   40.166667           4020
21  5400  13320  Female      86  329    15   24.0   27.416667           7920
22  5520   9600  Female      82  558    12   97.0   46.500000           4080
23  5400   8940  Female      88  338    12   26.0   28.166667           3540
24  5700   9000  Female      76  667    12   90.0   55.583333           3300
25  3900   8760  Female      98  327    12    0.0   27.250000           4860
26  4800   9780  Female      75  619    12  144.0   51.583333           4980
27  6120   9360  Female      78  624    12  208.5   52.000000           3240
28  5220   7860  Female      70  671     8  102.0   55.916667           2640
29  5100   9660  Female      66  554     8   96.0   46.166667           4560
..   ...    ...     ...     ...  ...   ...    ...         ...            ...
63  5100   8700    Male      97  637    12  315.0   53.083333           3600
64  6600  12240    Male      83  536    15  215.5   44.666667           5640
65  5700  11220    Male      94  392    15   36.0   32.666667           5520
66  6000  12180    Male      91  364    12   49.0   30.333333           6180
67  6000  11580    Male      83  521    15  108.0   43.416667           5580
68  6000   8940    Male      80  686    12  272.0   57.166667           2940
69  6000  10680    Male      87  364    15   56.0   30.333333           4680
70  4620  11100    Male      77  293    12   11.5   24.416667           6480
71  5220  10080    Male      85  344    12   29.0   28.666667           4860
72  6600  15360    Male      83  340    15   64.0   28.333333           8760
73  5400  12600    Male      78  305    12    7.0   25.416667           7200
74  6000   8940    Male      78  659     8  320.0   54.916667           2940
75  5400   9480    Male      88  690    15  359.0   57.500000           4080
76  6000  14400    Male      96  402    16   45.5   33.500000           8400
77  5700  10620  Female      88  410    15   61.0   34.166667           4920
78  5400  10320  Female      78  584    15   51.0   48.666667           4920
79  4440   9600  Female      97  341    15   75.0   28.416667           5160
80  6300  10860  Female      84  662    15  231.0   55.166667           4560
81  6000   9720  Female      69  488    12  121.0   40.666667           3720
82  5100   9600  Female      85  406    12   59.0   33.833333           4500
83  4800  11100  Female      87  349    12   11.0   29.083333           6300
84  5100  10020  Female      87  508    16  123.0   42.333333           4920
85  5700   9780  Female      74  542    12  116.5   45.166667           4080
86  5400  10440  Female      72  604    12  169.0   50.333333           5040
87  5100  10560  Female      84  458    12   36.0   38.166667           5460
88  4800   9240  Female      84  571    16  214.0   47.583333           4440
89  6000  11940  Female      86  486    15   78.5   40.500000           5940
90  4380  10020  Female      93  313     8    7.5   26.083333           5640
91  5580   7860  Female      69  600    12  132.5   50.000000           2280
92  4620   9420  Female      96  385    12   52.0   32.083333           4800

[93 rows x 9 columns]

In [59]:
data["SalaryInrease"] < 0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
Name: SalaryInrease, dtype: bool

In [61]:
(data["SalaryInrease"] < 0).sum()

0

In [62]:
data["Sal77"].mean()

10392.903225806451

In [63]:
#TIP: data.describe? will give documentation of describe() in a window

In [64]:
# to access by row

data.ix[2]

Bsal              6300
Sal77            12060
Sex               Male
Senior              82
Age                357
Educ                15
Exper               72
AgeInYears       29.75
SalaryInrease     5760
Name: 2, dtype: object

In [66]:
#Pandas assume you want to access col by default...

In [67]:
data.ix[2,"AgeInYears"]

29.75

In [68]:
data.columns

Index(['Bsal', 'Sal77', 'Sex', 'Senior', 'Age', 'Educ', 'Exper', 'AgeInYears',
       'SalaryInrease'],
      dtype='object')

In [69]:
data.index

RangeIndex(start=0, stop=93, step=1)

In [70]:
#Change it so that row 1 is actually 1

data.index = data.index + 1

In [71]:
data

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper  AgeInYears  SalaryInrease
1   5220   8340  Female      70  468    12  127.0   39.000000           3120
2   5040  12420    Male      96  329    15   14.0   27.416667           7380
3   6300  12060    Male      82  357    15   72.0   29.750000           5760
4   6000  15120    Male      67  315    15   35.5   26.250000           9120
5   6000  16320    Male      97  354    12   24.0   29.500000          10320
6   6000  12300    Male      66  351    12   56.0   29.250000           6300
7   6840  10380    Male      92  374    15   41.5   31.166667           3540
8   8100  13980    Male      66  369    16   54.5   30.750000           5880
9   6000  10140    Male      82  363    12   32.0   30.250000           4140
10  6000  12360    Male      88  555    12  252.0   46.250000           6360
11  6900  10920    Male      75  416    15  132.0   34.666667           4020
12  6900  10920    Male      89  481    12  175.0   40.083333           4020
13  5400  12660    Male      91  331    15   17.5   27.583333           7260
14  6000  12960    Male      66  355    15   64.0   29.583333           6960
15  6000  12360    Male      86  348    15   25.0   29.000000           6360
16  5100   8940  Female      95  640    15  165.0   53.333333           3840
17  4800   8580  Female      98  774    12  381.0   64.500000           3780
18  5280   8760  Female      98  557     8  190.0   46.416667           3480
19  5280   8040  Female      88  745     8   90.0   62.083333           2760
20  4800   9000  Female      77  505    12   63.0   42.083333           4200
21  4800   8820  Female      76  482    12    6.0   40.166667           4020
22  5400  13320  Female      86  329    15   24.0   27.416667           7920
23  5520   9600  Female      82  558    12   97.0   46.500000           4080
24  5400   8940  Female      88  338    12   26.0   28.166667           3540
25  5700   9000  Female      76  667    12   90.0   55.583333           3300
26  3900   8760  Female      98  327    12    0.0   27.250000           4860
27  4800   9780  Female      75  619    12  144.0   51.583333           4980
28  6120   9360  Female      78  624    12  208.5   52.000000           3240
29  5220   7860  Female      70  671     8  102.0   55.916667           2640
30  5100   9660  Female      66  554     8   96.0   46.166667           4560
..   ...    ...     ...     ...  ...   ...    ...         ...            ...
64  5100   8700    Male      97  637    12  315.0   53.083333           3600
65  6600  12240    Male      83  536    15  215.5   44.666667           5640
66  5700  11220    Male      94  392    15   36.0   32.666667           5520
67  6000  12180    Male      91  364    12   49.0   30.333333           6180
68  6000  11580    Male      83  521    15  108.0   43.416667           5580
69  6000   8940    Male      80  686    12  272.0   57.166667           2940
70  6000  10680    Male      87  364    15   56.0   30.333333           4680
71  4620  11100    Male      77  293    12   11.5   24.416667           6480
72  5220  10080    Male      85  344    12   29.0   28.666667           4860
73  6600  15360    Male      83  340    15   64.0   28.333333           8760
74  5400  12600    Male      78  305    12    7.0   25.416667           7200
75  6000   8940    Male      78  659     8  320.0   54.916667           2940
76  5400   9480    Male      88  690    15  359.0   57.500000           4080
77  6000  14400    Male      96  402    16   45.5   33.500000           8400
78  5700  10620  Female      88  410    15   61.0   34.166667           4920
79  5400  10320  Female      78  584    15   51.0   48.666667           4920
80  4440   9600  Female      97  341    15   75.0   28.416667           5160
81  6300  10860  Female      84  662    15  231.0   55.166667           4560
82  6000   9720  Female      69  488    12  121.0   40.666667           3720
83  5100   9600  Female      85  406    12   59.0   33.833333           4500
84  4800  11100  Female      87  349    12   11.0   29.083333           6300
85  5100  10020  Female      87  508    16  123.0   42.333333           4920
86  5700   9780  Female      74  542    12  116.5   45.166667           4080
87  5400  10440  Female      72  604    12  169.0   50.333333           5040
88  5100  10560  Female      84  458    12   36.0   38.166667           5460
89  4800   9240  Female      84  571    16  214.0   47.583333           4440
90  6000  11940  Female      86  486    15   78.5   40.500000           5940
91  4380  10020  Female      93  313     8    7.5   26.083333           5640
92  5580   7860  Female      69  600    12  132.5   50.000000           2280
93  4620   9420  Female      96  385    12   52.0   32.083333           4800

[93 rows x 9 columns]

In [74]:
data.ix[2,"Age"] #Accesses 2nd row instead or 3rd

329

In [75]:
#to reset row indices:

data.index = range(93)

In [76]:
data

    Bsal  Sal77     Sex  Senior  Age  Educ  Exper  AgeInYears  SalaryInrease
0   5220   8340  Female      70  468    12  127.0   39.000000           3120
1   5040  12420    Male      96  329    15   14.0   27.416667           7380
2   6300  12060    Male      82  357    15   72.0   29.750000           5760
3   6000  15120    Male      67  315    15   35.5   26.250000           9120
4   6000  16320    Male      97  354    12   24.0   29.500000          10320
5   6000  12300    Male      66  351    12   56.0   29.250000           6300
6   6840  10380    Male      92  374    15   41.5   31.166667           3540
7   8100  13980    Male      66  369    16   54.5   30.750000           5880
8   6000  10140    Male      82  363    12   32.0   30.250000           4140
9   6000  12360    Male      88  555    12  252.0   46.250000           6360
10  6900  10920    Male      75  416    15  132.0   34.666667           4020
11  6900  10920    Male      89  481    12  175.0   40.083333           4020
12  5400  12660    Male      91  331    15   17.5   27.583333           7260
13  6000  12960    Male      66  355    15   64.0   29.583333           6960
14  6000  12360    Male      86  348    15   25.0   29.000000           6360
15  5100   8940  Female      95  640    15  165.0   53.333333           3840
16  4800   8580  Female      98  774    12  381.0   64.500000           3780
17  5280   8760  Female      98  557     8  190.0   46.416667           3480
18  5280   8040  Female      88  745     8   90.0   62.083333           2760
19  4800   9000  Female      77  505    12   63.0   42.083333           4200
20  4800   8820  Female      76  482    12    6.0   40.166667           4020
21  5400  13320  Female      86  329    15   24.0   27.416667           7920
22  5520   9600  Female      82  558    12   97.0   46.500000           4080
23  5400   8940  Female      88  338    12   26.0   28.166667           3540
24  5700   9000  Female      76  667    12   90.0   55.583333           3300
25  3900   8760  Female      98  327    12    0.0   27.250000           4860
26  4800   9780  Female      75  619    12  144.0   51.583333           4980
27  6120   9360  Female      78  624    12  208.5   52.000000           3240
28  5220   7860  Female      70  671     8  102.0   55.916667           2640
29  5100   9660  Female      66  554     8   96.0   46.166667           4560
..   ...    ...     ...     ...  ...   ...    ...         ...            ...
63  5100   8700    Male      97  637    12  315.0   53.083333           3600
64  6600  12240    Male      83  536    15  215.5   44.666667           5640
65  5700  11220    Male      94  392    15   36.0   32.666667           5520
66  6000  12180    Male      91  364    12   49.0   30.333333           6180
67  6000  11580    Male      83  521    15  108.0   43.416667           5580
68  6000   8940    Male      80  686    12  272.0   57.166667           2940
69  6000  10680    Male      87  364    15   56.0   30.333333           4680
70  4620  11100    Male      77  293    12   11.5   24.416667           6480
71  5220  10080    Male      85  344    12   29.0   28.666667           4860
72  6600  15360    Male      83  340    15   64.0   28.333333           8760
73  5400  12600    Male      78  305    12    7.0   25.416667           7200
74  6000   8940    Male      78  659     8  320.0   54.916667           2940
75  5400   9480    Male      88  690    15  359.0   57.500000           4080
76  6000  14400    Male      96  402    16   45.5   33.500000           8400
77  5700  10620  Female      88  410    15   61.0   34.166667           4920
78  5400  10320  Female      78  584    15   51.0   48.666667           4920
79  4440   9600  Female      97  341    15   75.0   28.416667           5160
80  6300  10860  Female      84  662    15  231.0   55.166667           4560
81  6000   9720  Female      69  488    12  121.0   40.666667           3720
82  5100   9600  Female      85  406    12   59.0   33.833333           4500
83  4800  11100  Female      87  349    12   11.0   29.083333           6300
84  5100  10020  Female      87  508    16  123.0   42.333333           4920
85  5700   9780  Female      74  542    12  116.5   45.166667           4080
86  5400  10440  Female      72  604    12  169.0   50.333333           5040
87  5100  10560  Female      84  458    12   36.0   38.166667           5460
88  4800   9240  Female      84  571    16  214.0   47.583333           4440
89  6000  11940  Female      86  486    15   78.5   40.500000           5940
90  4380  10020  Female      93  313     8    7.5   26.083333           5640
91  5580   7860  Female      69  600    12  132.5   50.000000           2280
92  4620   9420  Female      96  385    12   52.0   32.083333           4800

[93 rows x 9 columns]

In [86]:
#In-class: Compute a 95% CI for avg begin salary of male employees. Then compute a 95% CI for beginning
#of salary of female employees. What do you conclude?

#can look up quantiles of the distributions in pack

from scipy.stats import t

m = data.ix[ data["Sex"] == 'Male','Bsal' ]
print(m.mean() - t.ppf(.975, m.count() - 1) * m.std()/ np.sqrt(m.count()) )
print(m.mean() + t.ppf(.975, m.count() - 1) * m.std()/ np.sqrt(m.count())  )

5707.83908652
6205.91091348

In [87]:
f = data.ix[ data["Sex"] == 'Female','Bsal' ]
print(f.mean() - t.ppf(.975, f.count() - 1) * f.std()/ np.sqrt(f.count()) )
print(f.mean() + t.ppf(.975, f.count() - 1) * f.std()/ np.sqrt(f.count()) )

5000.58516327
5277.11975476

In [88]:
#interval for men is completely higher than women
# (5707, 6205) comp to (5000, 5277)

#but not enough to conclude dsicrimination

#haven't adj for exp, edu and other factors yet.